<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy Picture of the Day</title>
    <style>
        .figure{
        	 background-color: white;
        }

        .container_fluid {
         background-color: white;
        }

        .text-center {
	    background-color: white;
	    background-attachment: fixed;
        }


        .flex-container {
        background-color: white;
        padding-top: 25px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
<!--        height: 100vh;-->
    }

  </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
    <br>
<figure class="text-center">
  <blockquote class="blockquote">
    <h3>NASA Astronomy Picture of the Day</h3>
  </blockquote>
    <figcaption class="blockquote-footer">
    {{ title }}
  </figcaption>
</figure>
</div>
<div class="flex-container">
    <div class="card w-75 mb-3">
        <img src={{ url }} class="card-img-top" alt="NASA image">
        <div class="card-body">
          <h5 class="card-title">{{ title }}</h5>
            <br>
          <p class="card-text">{{ explanation }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ date }}</small></p>
        </div>
      </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>